<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">M</h1>
        </div>
        <h3>Welcome to Microtrade</h3>
            <form class="m-t" role="form" novalidate (ngSubmit)="onSubmit(resetForm)" [formGroup]="resetForm">
                
                <div class="form-group" [class.has-error]="!resetForm.controls['email'].pristine && resetForm.controls['email'].errors != null">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" [maxlength]="150" formControlName="email">
                </div>
                
                <spin-button type="submit" [class]="'btn btn-primary block full-width m-b'" [loading]="loading" [disabled]="resetForm.invalid">login</spin-button>
                
                <div class="text-center margin-top5">
                    <a [routerLink]="['/login']"><small>Mentioned password?</small></a>
                </div>
                
                <div class="text-center margin-top5">
                    <p class="text-muted"><small>Do not have an account?</small></p>
                    <a class="btn btn-sm btn-white btn-block" [routerLink]="['/register']">Create an account</a>
                </div>
            </form>
        <p class="m-t footer-wrap"> <small><footer></footer></small> </p>
    </div>
</div>
